<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAllReimbursementsServlet</servlet-name>
        <servlet-class>com.revature.servlets.ViewAllReimbursementsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllReimbursementsServlet</servlet-name>
        <url-pattern>/reimbursements</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReimReqSubmissionServlet</servlet-name>
        <servlet-class>com.revature.servlets.ReimReqSubmissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReimReqSubmissionServlet</servlet-name>
        <url-pattern>/reimreq</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>com.revature.servlets.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/updatestatus</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>ReqSubmissionServlet</servlet-name>-->
<!--        <servlet-class>com.revature.servlets.ReqSubmissionServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ReqSubmissionServlet</servlet-name>-->
<!--        <url-pattern>views/reimbursement</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>ViewAllSubmissionServlet</servlet-name>-->
<!--        <servlet-class>com.revature.servlets.ViewAllSubmissionServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ViewAllSubmissionServlet</servlet-name>-->
<!--        <url-pattern>views/manager</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>